.main{
    background-color: #292929;
    font-family: 'Manrope', serif;
    overflow-x: hidden;
        
}
a {
    color: #000000!important;
    text-decoration: none!important;
    font-size: 16;
}
.navbar{
    padding-top: 15px!important;
    padding-bottom: 15px!important;
}
.nav-link{
    font-size: 18px!important;
}
.hero{
    margin-top: 66px;
}

.hero-img{
    margin-top: 3em;
}    

.hero-title{
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 64px;
    margin-left: 96px;
}

.hero-text{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-left: 96px;
}

.hero-btn{
    margin-left: 96px;  
}

.work-img:hover img{
        opacity: 0.5;
}

.work-img {
    position: relative;
  }

  .bg-color
  .work-img img {
    width: 100%;
    opacity: 1;
    transition: opacity 0.5s;
  }
.work-img .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }

  .work-hero{
    width: 1440px;
    height: 640px;
    left: 0px;
    top: 0px;
  }

  .container-1 {
    position: relative;
  }
  
  .image {
    display: block;
    width: 80%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 78px;
    right: 0;
    height: 300px;
    width: 78%;
    opacity: 0;
    transition: .5s ease;
    background-color: #00000082;
  }
  
  .container-1:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }  

  .img-hover-text {
    position: relative;
  }
  
  .img-hover-text-content {
    position: absolute;
    top: 0;
    left: 16px;
    width: 93.7%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.654);
    color: white;
    font-size: 26px;
  }
  
  .img-hover-text:hover .img-hover-text-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* main */
  .img-hover-text-1 {
    position: relative;
  }
  
  .img-hover-text-content-1 {
    position: absolute;
    top: 48px;
    left: 48px;
    width: 86.4%;
    height: 83.2%;
    display: none;
    background-color: rgba(0, 0, 0, 0.654);
    color: white;
    font-size: 2em;
  }
  
  .img-hover-text-1:hover .img-hover-text-content-1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* virtual gal */

  .img-hover-text-2 {
    position: relative;
  }
  
  .img-hover-text-content-2 {
    position: absolute;
    top: 48px;
    left: 48px;
    width: 80.1%;
    height: 80.4%;
    display: none;
    background-color: rgba(0, 0, 0, 0.654);
    color: white;
    font-size: 2em;
    border-radius: 3px;
  }
  
  .img-hover-text-2:hover .img-hover-text-content-2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* personal-project */

  .img-hover-text-3 {
    position: relative;
  }
  
  .img-hover-text-content-3 {
    position: absolute;
    top: 166px;
    left: 48px;
    width: 80.1%;
    height: 47.7%;
    display: none;
    background-color: rgba(0, 0, 0, 0.654);
    color: white;
    font-size: 2em;
  }
  
  .img-hover-text-3:hover .img-hover-text-content-3 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
