.hero-title{
    position: absolute;
width: 824px;
height: 192px;
left: 96px;
top: 240px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 54px;
line-height: 64px;
color: #000000;
}

.hero-text{
    
}